p Du går ut ur shopen och börjar gå djupare och djupare in i skogen. Tillslut delar sig stigen då går på i två. Du måste göra ett val här. 
p Du tittar åt höger. Det är svårt att se vart stigen leder eftersom gigantiska mörka, halvt döda, träd blockerar din syn.Du hör inget ljud men du ser tydligt att något rör sig. 
p Den vänstra stigen är fylld med träd och växter i vibranta färger. Som att den har absorberat solens ljusaste strålar för att producera den vackraste skogsvägen som finns. Du hör hur fåglarna kvittrar och hur något rör sig sakta och milt bland träden. 
br Efter att ha examinerat båda stigarna bestämmer du dig för att göra ditt val. 
br Vilken stig väljer du? 
br 

     

a href="/enemies/1/fight" Höger 
hr 
a href="/enemies/2/fight" Vänster

