h2 Story part 3

p Efter att ha besagrat din fiende så fortsätter du att gå framåt. 
p Du ser slutet av stigen och din utsikt som tidgare endast var fyllt med träd fylls nu av en havsblå himmel.
br
h2 Du har vunnit äventyrare


h2 Inventory
-@usersInventory.each do |items|
    p #{items["name"]}

h2 Stats
p User health: #{@userStats[0]["health"]}