h2 Uppdatera items 

form action="/protected/items/#{@update_items["id"]}/update" method="post" 
    input type="text" name="name" placeholder="Namn på item" value="#{@update_items["name"]}"
    input type="text" name="damage" placeholder="Damage" value="#{@update_items["damage"]}"

    input type="submit" value="Uppdateraヾ(•ω•`)o"