h1 this is fight

p Du möte #{@enemiesData[0]["name"]}


p Damage: #{@enemiesData[0]["damage"]}
p Health: #{@enemiesData[0]["health"]}
p State: #{@enemiesData[0]["state"]}

form action ="/enemies/#{@enemiesData[0]["id"]}/attack" method="post"
    input type="submit" value="Attackera #{@enemiesData[0]["name"]}"
    input type="hidden" name="itemsDamage" value="#{@itemsDamg}"
    input type="hidden" name="enemyDamage" value="#{@enemiesData[0]["damage"]}"


br

/ -@itemsData.each do |items|
/     form action ="/enemies/#{@enemiesData[0]["id"]}/fight" method="get"
/         input type="submit" value="Välj #{items["name"]}"
/         input type="hidden" name="itemsDamage" value="#{items["damage"]}"
/         input type= "hidden" name="enemyDamage" value="#{@enemiesData[0]["damage"]}"


/ p Du har #{@usersInventory}

/ p #{@usersInventory[0]["name"]}

-@usersInventory.each do |items|
    form action ="/enemies/#{@enemiesData[0]["id"]}/fight" method="get"
        input type="submit" value="Välj #{items["name"]}"
        input type="hidden" name="itemsDamage" value="#{items["damage"]}"

p User health: #{@userStats[0]["health"]}