h1 Logga in 

form action="login" method="POST"
    input type="text" name="username" placeholder="Enter username🙏"
    input type="password" name="password" placeholder="Enter password🤗"
    input type="submit" value="Logga in"