h1 Logga in 

form action="login" method="POST"
    input type="text" name="username" placeholder="Enter username🙏"
    input type="password" name="password" placeholder="Enter password🤗"
    input type="submit" value="Logga in"

hr
p Logga inte in för snabbt! En misslyckad inloggning två gånger i rad inom 30 sekunder resulterar i en 30 sekunder timeout! 
br eye for an eye >:( )
hr
h2 Har du inget konto? 
a href="/register" Registrera dig! 