
form action="/protected/items" method="post"
    input type="text" name="itemsName" placeholder="Namn på ett nytt item"
    br/
    input type="text" name="itemsDamg" placeholder="Damage"
    input type="text" name="itemsCost" placeholder="Cost"


    input type="submit" value="Lägg till🫶🔥"