h1 Registrera

form action="users/new" method="POST"
    input type="text" name="username" placeholder="Enter username🙏"
    input type="password" name="password" placeholder="Enter password😈"
    input type="password" name="password_confirm" placeholder="Re-Enter password😈"
    input type="submit" value="Register user"