h1 Registrera

form action="register/new" method="POST"
    input type="text" name="username" placeholder="Enter username🙏"
    input type="password" name="password" placeholder="Enter password😈"
    input type="password" name="password_confirm" placeholder="Re-Enter password😈"
    input type="submit" value="Register user"

hr
h2 Har du redan ett konto? 
a href="/login" Logga in! 
